html,
body {
    margin: 0;
    padding: 0;
    background: #c9c3cd;
}

* {
    box-sizing: border-box;
}

.icon {
    color: gray;
    transition: all 0.2s;
}
.icon:hover {
    scale: 1.2;
    color: rgb(25, 0, 80);
}

.App {
    font-family: sans-serif;
    padding: 3rem 1rem;
    width: 50%;
    min-width: 400px;
}

.TodoList {
    padding: 0;
    margin-left: 1rem;
    border-left: 1px solid rgba(75, 0, 130, 0.2);
    position: relative;
    max-height: 1000px;
    transition: all 0.175s;
    transition-timing-function: ease-in-out;
}

.TodoList.collapsed {
    max-height: 0;
    overflow: hidden;
    z-index: -1;
}

.Todo {
    background: #ffffe3;
    display: flex;
    border-top: 1px solid rgba(75, 0, 130, 0.2);
    justify-content: space-between;
    transition: all 0.2s;
    user-select: none;
    align-items: center;
    position: relative;
}

.Todo.frozen {
    opacity: 0.5;
}

.Todo:last-of-type {
    border-bottom: 1px solid rgba(75, 0, 130, 0.2);
}

.Todo .label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Todo.complete {
    color: gray;
    background: #ddd;
    text-decoration: line-through;
}

.Todo .actions {
    display: flex;
    width: 0;
    padding-left: 0;
    margin-left: 0;
    transition: all 0.2s;
    justify-content: flex-end;
}

.Todo .actions .icon {
    font-size: 1.7rem;
    padding: 0 0.2rem;
}

.Todo:hover .actions {
    width: 10rem;
}

.status {
    width: 0;
    font-size: 1.1rem;
}

.Todo:hover .status {
    width: 2rem;
    color: limegreen;
    padding-right: 0.3rem;
}

.Todo:hover .status.undo {
    color: unset;
}

.Todo .label-wrap {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

input {
    background: ffffe3;
    width: 100%;
    border: none;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    transition: all 0.2s;
    user-select: none;
    align-items: center;
}

.TodoList.signalIncomplete .Todo:not(.complete) {
    transition: all 0.2s;
    box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.5);
    background: #ffcccc;
}

.collapse {
    height: 1rem;
    width: 1rem;
    position: absolute;
    z-index: 10;
    padding: 0rem;
    left: -1.6rem;
    color: rgba(35, 0, 90, 0.3);
    border: 1.75px solid rgba(35, 0, 90, 0.3);
    background: #c9c3cd;
    background-clip: content-box;
}

.collapse:hover {
    color: rgba(35, 0, 90, 0.5);
    border: 1.75px solid rgba(35, 0, 90, 0.5);
}

.collapse:hover ~ .label-wrap .status,
.collapse:hover ~ .actions {
    width: 0;
    padding-right: 0;
}
